*{
  margin: 0px;
  padding: 0px;
}
.bg-container{
  height: 100vh;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #FFFF00 50%, #B5FFFC 100%);
  overflow-y: auto;
}
.addButton{
  margin-top: auto !important;
  margin-bottom: auto !important;
  height: 35px !important;
  max-width: 180px !important;
  border-radius: 50px !important;
  
}
.changeButton{
  margin-top: auto !important;
  margin-bottom: auto !important;
  height: 35px !important;
  max-width: 180px !important;
  
}
.subContainer{
  height: 80vh;
  width: 50%;
  scale: 0.9;
  text-align: center;
}
.subContainers{
  height: 80vh;
  width: 100%;
  scale: 0.9;
  text-align: center;
}
.chartBox{
  min-height: 80vh;
  max-height: 80vh;
  width: 100%;
  background-color: #ccc;
  padding-top: 0%;
  
}
.rowContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.chartCard{
  height: 65vh !important;
  width: 65vh !important;
  max-height: 100% !important;
  max-width: 100% !important;
  scale: 0.9;
  margin-left: auto;
  margin-right: auto;
}
.chartLineCard{
  height: 100% !important;
  width: 100% !important;
  max-height: 100% !important;
  scale: 0.9;
}
.selector{
  width: 320px;
}
.marginAuto{
  padding-top: 50px;
}

@media screen and (min-width: 444px) and (max-width: 890px) {
  .rowContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  } 
  .addButton{
    margin-top: 15px !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 35px !important;
    max-width: 180px !important;
    border-radius: 50px !important;
    
  }
  .changeButton{
    margin-top: 15px !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 35px !important;
    max-width: 180px !important;
    
  }
  .subContainer {
    height: 80vh;
    width: 100%;
    scale: 0.9;
    text-align: center;
  }
}
@media screen and (max-width:445px) {
  .rowContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  } 
  .addButton{
    margin-top: 15px !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 35px !important;
    max-width: 180px !important;
    border-radius: 50px !important;
    
  }
  .changeButton{
    margin-top: 15px !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 35px !important;
    max-width: 180px !important;
    
  }
  .subContainer{
    height: 60vh;
    width: 100%;
    scale: 0.9;
    text-align: center;
  }

  .chartBox{
    min-height: 60vh;
    max-height: 60vh;
    width: 100%;
    background-color: #ccc;
    padding-top: 0%;
    
  }
  .chartCard{
    height: 45vh !important;
    width: 45vh !important;
    max-height: 100% !important;
    max-width: 100% !important;
    scale: 0.9;
    margin-left: auto;
    margin-right: auto;
  }
}